DISCORD_TOKEN=
FREE_INVITE_CODE=
PAID_INVITE_CODE=
FREE_ROLE_ID=
FREE_VERIFIED_ROLE_ID=
PAID_ROLE_ID=
STUDENT_CHANNEL_CATEGORY_ID=
STAFF_ROLE_ID=
LEAD_WEBHOOK_API_KEY=
GUILD_ID=
APPLY_WEBHOOK_URL=
STAFF_LOG_CHANNEL_ID=
SOURCE_CHANNEL_ID=1541814286194581685
WINS_CHANNEL_ID=1470437209248104482
PORT=3000
